<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ftms.alarm.mapper.RS485Mapper">

    <resultMap type="RS485" id="RS485Result">
        <result property="id"    column="id"    />
        <result property="prefix"    column="prefix"    />
        <result property="address"    column="address"    />
        <result property="lrc"    column="lrc"    />
        <result property="currentDate"    column="currentDate"    />
    </resultMap>

    <insert id="insertRS485" parameterType="RS485" useGeneratedKeys="true" keyProperty="id">
        insert into rs485
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="prefix != null">prefix,</if>
            <if test="address != null">address,</if>
            <if test="lrc != null">lrc,</if>
            <if test="currentDate != null">currentDate,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="prefix != null">#{prefix},</if>
            <if test="value != null">#{value},</if>
            <if test="lrc != null">#{lrc},</if>
            <if test="currentDate != null">#{currentDate},</if>
         </trim>
    </insert>
</mapper>
